@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar-toggler {
    background-color: white;
    height: 40px
}

#nav-des-first-letter {
    color: red;
}

#nav-bg {
    background-image: linear-gradient(to right, #433045, #384c54, #422f3e, #422f37);
}


#navitem1 {
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto";
}

#navitem2 {
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto";
}

#navitem3 {
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto";
}

#navitem4 {
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto";
}

#navitem5 {
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto";
}

#j-style {
    border-color: #4b6cc1;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    width: 58px;
    height: 40px;
    font-family: "Caveat";
}

.portofolia-section {
    background-color: #171c1f;
    padding: 25px;

    background-size: cover;

}

.portofolia-image {
    height: 60vh;
    width: 100%;
    border-radius: 90vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.portofolia-image:hover {
    transform: translateY(-10px);
    /* Moves the card up slightly */
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);

}



.name-section {
    font-size: 50px;
    font-family: "Roboto";
    color: #ffffff;
    padding: 10px;

}

.description-section {
    font-family: "cursive";
    font-size: 36px;
    color: #9aa5b1;
    padding: 10px;
}

.span-heading {
    color: #4b6cc1;
    font-family: "Caveat";
    font-weight: 700;
}

.button-section {
    background-color: #162136;
    color: #ffffff;
    height: 60px;
    width: 150px;
    font-family: "Roboto";
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.button-section:hover {
    transform: translateY(-10px);
    /* Moves the card up slightly */
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

.aboutme-section {
    background-image: linear-gradient(to right, #141c2b, #101c18, #372a38, #2b2228);
    padding: 10px;
    background-size: cover;

}

.facts-section {
    color: #cced00;
    font-size: 40px;
    font-weight: 500;
    padding: 9px;
    font-family: "Lobster";
    text-decoration: underline;
}

.about-section {
    color: #ffffff;
    font-size: 55px;
    font-weight: 500;
    padding: 9px;
    font-family: "Caveat";
}

.image-fact {
    text-align: center;

}

.aboutme-image-section {

    width: 100%;

    padding: 5px;
}

.description-section {
    color: #9aa5b1;
    font-size: 26px;
    padding: 15px;
    font-family: "Roboto";
}

.skills-section {
    background-image: radial-gradient(#808084, #63343d);
    background-size: cover;
    padding: 4vh;



}

.skill-card {
    background-image: linear-gradient(to right, #14181c, #18262e, #3b1c29);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;






}

.skill-card:hover {
    transform: translateY(-10px);
    /* Moves the card up slightly */
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}



.skill-card-image {
    width: 23%;

}

.skill-card-heading {
    color: #ffffff;
    font-family: "Cursive";
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;

}

.project-section {
    background-image: linear-gradient(to right, #323f4b, #344d91, #4a6ecf);
    padding: 4vh;
    background-size: cover;

}

.portfolio-heading {
    color: #cced00;
    font-size: 38px;
    font-weight: 500;
    font-family: "Lobster";
    text-decoration: underline;
}

.portfolio-project {
    color: #ffffff;
    font-size: 55px;
    font-weight: 600;
    font-family: "Caveat";
}

.projects-section {
    background-color: #274457;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-section-image {

    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.project-card {
    padding: 22px;
    background-image: linear-gradient(to right, #14181c, #18262e);



}

.projects-section:hover {
    transform: translateY(-10px);
    /* Moves the card up slightly */
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

.projectcard-heading1 {
    color: #9aa5b1;
    font-family: "Cursive";
    font-size: 25px;
    padding: 5px;

}

.projectcard-heading2 {
    color: #ffffff;
    font-family: "Caveat";
    font-size: 40px;
    padding: 5px;

}

.projectcard-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 25px;
    padding: 5px;

}

.projectcard-readmore {
    color: #cced00;
    font-size: 22px;
    font-weight: 700;
    padding: 5px;

}



.service-section {
    background-image: linear-gradient(to right, #251f33, #5f4169);
    height: 100%;
    padding: 4vh;
    background-size: cover;


}

.service-section-card:hover {
    transform: translateY(-10px);
    /* Moves the card up slightly */
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

.services-heading1 {
    color: #cced00;
    font-size: 38px;
    font-weight: 500;
    font-family: "Lobster";
    text-decoration: underline;
}

.services-heading2 {
    color: #ffffff;
    font-family: "Caveat";
    font-size: 58px;
    font-weight: 600;
    padding: 5px;
}

.service-section-card {
    background-image: linear-gradient(to right, #1b1342, #1f323d);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-section-card-image {
    height: 80px;
    margin: 8px;
}


.service-section-card-heading {
    color: #ffffff;
    font-family: "Caveat";
    font-size: 40px;
    font-weight: 500;
}

.service-section-card-paragraph {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 25px;

}

.resume-section {
    background-image: linear-gradient(to right, #747c79, #1c0a0b);
    padding: 4vh;

}

.resume-section-heading {
    color: #cced00;
    font-size: 38px;
    font-weight: 500;
    font-family: "Lobster";
    text-decoration: underline;

}



.resume-section-description {
    color: white;
    font-weight: 500;
    font-size: 38px;
    font-family: "Caveat";

}

.thanking-customers-section-img {
    width: 270px;
    border-radius: 20px;
    margin-bottom: 20px;
}





.custom-button {
    color: white;
    background-color: #d0b200;
    padding: 20px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-button:hover {
    transform: translateY(-10px);
    /* Moves the card up slightly */
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

.follow-me-section {
    display: flex;
    justify-content: center;
    align-items: right;

}


.follow-me-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-me-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-left: 35px;
    margin-right: 12px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 32px;
    padding-left: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.follow-me-icon-container:hover {
    transform: translateY(-10px);
    /* Moves the card up slightly */
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

.icon {
    color: #d0b200;
    font-size: 35px;
    padding-right: 32px;
}

.footer-section {
    background-color: #001c32;


}

.footer-section-image {
    height: 60px;
    width: 60px;
    border-radius: 40px;
}

.footer-section-heading {
    color: #cced00;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;

}

.footer-section-paragraph {
    color: #9aa5b1;
    font-family: "Roboto";

    font-size: 14px;

}


.copyright {
    text-align: center;
    background-color: #001c32;
    color: #ffffff;
    padding: 10px;
}

.icon2 {
    color: #5a7184;
    font-size: 18px;
}